<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kitku.kitku">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_logo_kitku"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_kitku"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".Cart.Cart_Map.Cart_Map_Activity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".Checkout.CheckoutActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity android:name=".User.UserMenu.FAQActivity" />
        <activity android:name=".User.UserMenu.TermsAndConditionsActivity" />
        <activity android:name=".User.UserMenu.BlogActivity" />
        <activity android:name=".Checkout.Checkout_SetAddressActivity" />
        <activity android:name=".Detail_ItemActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".List_Item.ListItemActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenNoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- reference https://developer.android.com/training/app-links/deep-linking -->
            <!-- intent-filter android:label="@string/filter_view_http_kitku" -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="kitku.id"
                    android:pathPrefix="/shop"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "kitku://shop” -->
                <data
                    android:host="shop"
                    android:scheme="kitku" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>