<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kitku.kitku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_kitku"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_kitku"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Checkout.CheckoutActivity"></activity>
        <activity android:name=".User.UserMenu.FAQActivity" />
        <activity android:name=".User.UserMenu.TermsAndConditionsActivity" />
        <activity android:name=".User.UserMenu.BlogActivity" />
        <activity android:name=".Checkout.Checkout_SetAddressActivity" />
        <activity android:name=".Detail_ItemActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".List_Item.ListItemActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenNoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>